*{
    font-family: Georgia, 'Times New Roman', Times, serif; 
    /* font-family: 'Great Vibes', cursive; */
    user-select: none;
}

.cardA:hover{
        box-shadow: 5px 5px 10px 10px gray;
        border-radius:20px;
        }
.card img:hover{
    scale: (1.1);
    transition: 0.3s ease-out;
}
.a{
    text-decoration: none;
    color: aliceblue;
}
button{
    border-radius: 20px;
}
.para{
    font-weight: bold;
}
.mycolor{
    color: black;
}
.cot{
    font-weight: bolder;
    font-family: 'Great Vibes', cursive;
}
.bn{
    border-radius: 10px;
    align-items: center;
}
.car{
    height: 100px;
    width: 175px;
    
}
.car:hover{
    height:120px;
    width: 190px;
}
.logo{
    color: aliceblue;
}
.an{
    height: 40px;
    width: 100px;
    border: 2px solid black;
    border-radius: 18px;
    background-color: black;
}
.pd{
    margin-left: 20px;
    margin-top: 20px;
    justify-content: center;
}
.pd1{
    margin-top: 50px;
}
.pd2{
    margin-bottom: 30px;
}

.p{
    margin-left: 60px;
}

.img{
    height: 150px;
    width: 200px;
}
